

.load-body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;
    border-radius: 200px;
    background-color: teal;
    color:white;
    border: 6px solid #4444;
    margin: 2%;
   
    /* position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  */
    
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.loading {
    width: 80px;
    height: 10px;
    position: relative;
}
@keyframes loading {
    0%,100% {top: -10px;}
    25% {top: 10px;}
    50% {top: -10px;}
    75% {top: 10px;}
}
.loading .x {
    position: absolute;
    animation: loading 1.8s ease-in-out infinite;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.loading .x:nth-child(1) {
    left: 0px;
    background-color: rgb(32,0,0);
    animation-delay: 0s;
}
.loading .x:nth-child(2) {
    left: 10px;
    background-color: rgb(64,0,0);
    animation-delay: .1s;
}
.loading .x:nth-child(3) {
    left: 20px;
    background-color: rgb(96,0,0);
    animation-delay: .2s;
}
.loading .x:nth-child(4) {
    left: 30px;
    background-color: rgb(128,0,0);
    animation-delay: .3s;
}
.loading .x:nth-child(5) {
    left: 40px;
    background-color: rgb(160,0,0);
    animation-delay: .4s;
}
.loading .x:nth-child(6) {
    left: 50px;
    background-color: rgb(192,0,0);
    animation-delay: .5s;
}
.loading .x:nth-child(7) {
    left: 60px;
    background-color: rgb(224,0,0);
    animation-delay: .6s;
}
.loading .x:nth-child(8) {
    left: 70px;
    background-color: rgb(255,0,0);
    animation-delay: .7s;
}
.loading .x:nth-child(9) {
    left: 80px;
    background-color: rgb(255,0,0);
    animation-delay: .8s;
}
.loading .x:nth-child(10) {
    left: 90px;
    background-color: rgb(255,0,0);
    animation-delay: .9s;
}
.loading .x:nth-child(11) {
    left: 100px;
    background-color: rgb(255,0,0);
    animation-delay: 1s;
}
.loading .x:nth-child(12) {
    left: 110px;
    background-color: rgb(255,0,0);
    animation-delay: 2s;
}


/* .circle {
    width: 500px;
    height: 200px;
    margin-top:50px;
    border-style: solid;
    border-width: 6px;
    border-color: #444444;
    border-radius: 200px;
    background-color: #343444;
    box-shadow: inset 0px 0px 10px 0px #222222;
    overflow: hidden;
  }
  
  .circleWrapper {
    width: 512px;
    height: 212px;
    padding: 0px;
    border-radius: 212px;
    box-shadow: 0px 0px 10px 0px #000000;
  }
  
  .content {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
  }
   */